@charset "UTF-8";


.tm-section-2 {
	background: #ee5057;
	padding-top: 50px;
	position: relative;
}

.tm-section-title {
	color: white;
	font-size: 3rem;
}

.tm-section-title-2 {
	font-size: 3.2rem;
    font-weight: 600;
}

.tm-section-subtitle {
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 25px;
}

.tm-section-subtitle-2 { font-size: 1.8rem; }

.tm-btn-white-bordered {
	display: inline-block;
	padding: 10px 25px;
	border: 2px solid white;
	/*background: transparent;*/
	text-transform: uppercase;
}

.tm-btn-white-bordered:hover,
.tm-btn-white-bordered:focus {
	color: #ee5057;
	background: white;	
}



/* Rnd 페이지 코스 css */

#pic-container img{
    height: 122px;
    width: 100%;
    float: left;


}
.cource-view-row {
    display: flex;
}

/* info 정보 */
#infoView img{
width:100%;
}