html{
	height:2000px;
	
}

.update-button {
  border-radius: 20px;
  border: 1px solid #4c72fc;
  background-color: #4c72fc;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  display: inline-block;
}
.update-button:active {
  transform: scale(0.95);
}
.update-button:focus {
  outline: none;
}
.member-form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
.update-input-box {
  background-color: #cfd9fe;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 130%;
}
.update-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
          0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 700px;
  min-height: 650px;

}
.update-form-container {
  position: absolute;
  top: 0;
  width:100%;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.error font{
	text-align: center;
    color: red;
}

