@charset "UTF-8";

body{
	width:100%;
	height:100%;
}
section{
/* 	width:100%;
	height:100%; */
}
.header_board{
		width: 1024px;
		height:40px;
		background-color:#505256;
		opacity: 0.8;
		color:#ffffff;
		margin:auto;
		text-align: center;
	}
.header_board_title{
		height:20px;
		display: inline-block;
		opacity: 1;
		vertical-align: middle;
	}
.header_board_title p{
		color: white;
		display: inline-block;
		opacity: 1;
		position: relative;
}
.fa-bell{
	color:white;
}